.menuContainer {
    .MuiDrawer-paper {
        background-color: white;
    }

    .iconButtons:hover {
        background-color: rgba(0, 0, 0, 0.05);
        border-radius: 0 !important;

        .iconButton {
            color: #40A2D8 !important;
        }
    }

    .iconButton {
        color: #729eda;
    }
}