.headerTopRow {
    display: flex;
    margin: 15px auto;
    width: 95%;
}

.headerSearchBar {
    width: 206px;
    margin-top: 5px;
    padding: 0;
    background-color: #ffffff80;
    height: fit-content;
}

.headerLabel {
    margin-right: 15px;
    text-align: center;
    margin-top: 7px;
    font-size: 22px;
    font-weight: 700;
    color: #40A2D8;
}

.addButton {
    margin-left: auto !important;
    background-color: #40A2D8 !important;
    height: 40px;
    margin-top: 5px !important;
}

.addButton:hover {
    background-color: #3490c0 !important;
    box-shadow: 0px 0px 15px -5px rgba(84, 86, 97, 1);
}

.statistics {
    margin: 15px auto;
    width: 95%;
    display: flex;

    .statisticsContainer {
        background-color: white;
        height: 100px;
        width: 30%;
        max-width: 300px;
        border-radius: 10px;
        box-shadow: 0px 0px 10px -5px rgba(84, 86, 97, 1);
        display: flex;
        margin-right: 25px;
    }

    .counter {
        margin-top: -5px;
        font-size: 20px;
        font-weight: bold;
    }

    .counterContainer {
        margin-left: 10px;
        margin-right: auto;

        .title {
            font-size: 12px;
            color: #595858;
            margin-top: 25px;
        }
    }
}