.carTableContainer {
    width: 95% !important;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-shadow: 0px 0px 17px -5px rgba(84, 86, 97, 1);
    -moz-box-shadow: 0px 0px 17px -5px rgba(84, 86, 97, 1);
    box-shadow: 0px 0px 17px -5px rgba(84, 86, 97, 1) !important;
}

.table {
    .carNameCell {
        display: flex !important;
        align-items: center;
        min-height: 45px;
        border-bottom: 0 !important;
        border-top: 1px solid rgba(224, 224, 224, 1) !important;
    }
}

.table:hover {
    background-color: rgba(0, 0, 0, 0.05);
    cursor: pointer;
}

.table {
    &:first-child {
        .carNameCell {
            border-top: 0 !important;
        }
    }
}

.MuiAvatar-root {
    margin-right: 15px;
}


.iconButton {
    padding: 0;
    margin: 0;
}

.iconButton:hover {
    color: #40A2D8 !important;
}


.addCarWindow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 400px;
    width: 700px;
    background: lightgray;
    padding-top: 5px;

    .addCarDiv {
        display: grid;
        grid-template-columns: auto auto;
        padding: 10px 10px 40px 10px;
        height: 200px;
    }

}


.markInput, .modelInput, .registrationInput, .nr_vinInput, .clientInputEdit {
    margin-bottom: 30px;
    background-color: #b0b0b040;
    border-radius: 15px;
    height: 35px;
    padding: 0 5px;
    width: 260px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.clientInputAdd {
    margin-bottom: 30px;
    border-radius: 40px;
    height: 35px;
    padding: 0 5px;
    width: 290px;
    margin-left: 35px;
    margin-right: auto;
    display: flex;
}

.statusInput {
    margin-bottom: 30px;
    border-radius: 15px;
    height: 35px;
    padding: 0 5px;
    width: 260px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}


#mark-helper-text, #model-helper-text, #status-helper-text, #registration-helper-text, #nr_vin-helper-text, #client-helper-text {
    margin-top: -2px !important;
    margin-bottom: -18px !important;
}

.addCarTextInfo {
    font-weight: bolder;
    font-size: 25px;
    margin-left: 48px;
    color: #40A2D8;
}

.addCarSubmitButtons {
    justify-content: flex-end;
    display: flex;
    margin-right: 48px;
}

.cancelButton {
    border: 1px solid #40A2D8 !important;
    margin-right: 8px !important;
    color: #40A2D8 !important;
}

.submitButton {
    background: #40A2D8 !important;
    color: white !important;
}

.cancelButton:hover {
    box-shadow: 0px 0px 15px -5px #40A2D8;
}

.submitButton:hover {
    box-shadow: 0px 0px 15px -5px #40A2D8;
}

.modalTitleContainer {
    display: flex;
    width: 100%;


    .iconButton {
        margin-top: auto;
        margin-bottom: auto;
        margin-left: auto;
        margin-right: 48px;
        height: fit-content;
    }
}


.carGreen {
    & td {
        color: green !important;
        font-weight: bolder;
        margin-left: auto;
        margin-right: 50px;
    }
}

.carRed {
    color: darkred;
    font-weight: bolder;
    margin-left: auto;
    margin-right: 50px;
}

.clientFormInput {
    margin-bottom: 30px;
    border-radius: 40px;
    height: 35px;
    padding: 0 5px;
    width: 270px;
    margin-left: auto;
    margin-right: auto;
    display: flex;

}

.MuiSelect-select {
    height: 10px !important;
    padding: 13px 10px !important;
}

.MuiInputBase-root {
    border-radius: 40px !important;
}